

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,400&display=swap');


  

html,body{
  background-color: rgb(41, 41, 41);
  min-width:100%;
  
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 3;
  margin-top: 40px;
  margin-left: 20px;
 
  
  
}
header nav {
  display: block;
  text-decoration: none;
  width: 100%;
}

header nav a {
  display: inline-block;
  text-decoration: none;
  
  
  
  
}

header nav a:hover {
  transform: scale(1.2);
  cursor: pointer;
  filter: brightness(200%);

}

header nav a:last-of-type {
  margin-right: -0.5rem;
}

.heroList {
 
 display: grid;
 grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
 grid-auto-rows: minmax(20px,auto);
 grid-gap: 1rem;
 margin: 0 auto;
 max-width: 1200px;
 padding: 50px;
 box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16), 0 3px 6px rgba(255, 255, 255, 0.23);
 justify-content: space-between;
 
}

 
  .homeBtn{
    color: azure;
    
    width: 200px;
    
    height: 50px;
   
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .8;
     margin-right: 40px;;
    margin-top: 20px;
    margin-left: 20px;;
  }

  .heroBtn{
    color: azure;
    
    width: 100px;
    
    height: 100px;
    
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
   
    
    text-decoration: none;

  }
  .heroBtn:hover{
    transform: scale(1.5);
    
    filter: brightness(150%);
  }

  .heroBtns:hover{
    transform: scale(2);
    
    
  }
  #names{
    font-weight: 900;
    font-size: 60px;
  }
  
  .h2{
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
    
  }
  .h3{
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
  }
  .s{
    margin-left: 20px;
  }

  .heroBtns{
    color: azure;
    
    width: 225px;
    
    height: 127px;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16), 0 3px 6px rgba(255, 255, 255, 0.23);

  }



.main{
  
  width: 100vw;
  height: 100vh;
  
  overflow: hidden;
  display: block;
  position: absolute;
}
.title{
  font-size: 60px;
  line-height: 113%;
  background-color: transparent;
  
  letter-spacing: 5px;
  font-weight: 900;
  color: #ffffffee;
  text-shadow: 0px 0px 20px #000;
  width: 500px;
  margin-left: 200px;
  margin-top: 200px;
  
  font-family: 'Raleway', sans-serif;
 

}
.loopImage{
  height: 600px;
  margin-left: 200px;
  
}
.video{
 
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  object-fit: cover;
	height: 100%;
	width: 177.77777778vh; 
	min-width: 100%;
	min-height: 56.25vw; 
  
  
}



.dota2Simon{
  min-width: 350px;
    height: 100px;
    border-radius: 6px;
    border: 3px solid #ffffff90;
    box-shadow: 0px 0px 5px #000;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    transition-property: filter,transform,box-shadow;
    transition-timing-function: ease-in-out;
    transition-duration: .1s;
    margin-left: 60%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

a{
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
}


.search{
  width: 250px;
  height: 50px;
  background-color: #25282a;
  display: flex;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  color: bisque;
  font-size: 20px;
  
  
  

}


.wholeDetails{
  padding-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  
}

.des{
  width: 500px;
  margin-left: 30%;
  
  
  
}
.attr{
  display: flex;
  flex-direction: row;
}
.at{
  color: antiquewhite;
  margin-right: 30px;
  font-family: 'Raleway', sans-serif;
}


.herosTitle{
  color: bisque;
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  text-align: center;
  padding-top: 150px;

 
}
p{
  color: bisque;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  width: 500px;
  margin: auto;
  padding-bottom: 50px;
  font-size: 25px;

}
button{
  background-color: transparent;
}

.filterBtn{
  margin-left: 20%;
  margin-bottom: 3%;
}

@media (max-width:800px ) {
  
  .herosTitle{
    font-size: 50px;
    
  }
  .h3{
    font-size: 10px;
  }
  p{
    font-size: 20px
  }
  .heroBtns{
    color: azure;
    
    width: 115px;
    
    height: 63px;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16), 0 3px 6px rgba(255, 255, 255, 0.23);

  }

.dota2Simon{
    min-width: 300px;
    height: 80px;
    border-radius: 6px;
    border: 3px solid #ffffff90;
    box-shadow: 0px 0px 5px #000;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    transition-property: filter,transform,box-shadow;
    transition-timing-function: ease-in-out;
    transition-duration: .1s;
    margin-left: 400px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
  .heroList {
 
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    grid-auto-rows: minmax(20px,auto);
    grid-gap: 1rem;
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16), 0 3px 6px rgba(255, 255, 255, 0.23);
    justify-content: space-between;
    
   }
   .title{
    font-size: 40px;
 
   
  
  }

}

@media (max-width:420px ){
  .herosTitle{
    font-size: 30px;
    
  }
  p{
    font-size: 15px;
    width: 70%;
  }
  
  .heroBtns{
    color: azure;
    
    width: 60px;
    
    height: 33px;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16), 0 3px 6px rgba(255, 255, 255, 0.23);

  }
  .h3{
    font-size: 10px;
  }
  .heroList {
 
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
    grid-auto-rows: minmax(20px,auto);
    grid-gap: 1rem;
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16), 0 3px 6px rgba(255, 255, 255, 0.23);
    justify-content: space-between;
    
   }
   .homeBtn{
    color: azure;
    width: 80px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    
    margin-right: 40px;;
    margin-top: 20px;
    margin-left: 20px;;
  }
  .heroBtn{
    color: azure;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    text-decoration: none;

  }
  .title{
    font-size: 40px;
    margin: auto;
    margin-top: 200px;
    text-align: center;
    background-color: transparent;
  
    letter-spacing: 5px;
    font-weight: 900;
    color: #ffffffee;
    text-shadow: 0px 0px 20px #000;
    width: 300px;
    
   
    
    font-family: 'Raleway', sans-serif;
   
  }
  .dota2Simon{
      min-width: 200px;
      height: 100px;
      border-radius: 6px;
      border: 3px solid #ffffff90;
      box-shadow: 0px 0px 5px #000;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      margin-top: 40px;
      cursor: pointer;
      transition-property: filter,transform,box-shadow;
      transition-timing-function: ease-in-out;
      transition-duration: .1s;
      margin-left: 30%;
      font-family: 'Raleway', sans-serif;
      text-align: center;
      
  }
  a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
  }
  .filterBtn{
    margin-left: 20%;
    margin-bottom: 3%;
    margin-top: 30px;
  }
  .heroList {
 
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(70px,1fr));
    grid-auto-rows: minmax(20px,auto);
    grid-gap: 1rem;
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16), 0 3px 6px rgba(255, 255, 255, 0.23);
    justify-content: space-between;
    
   }
   .wholeDetails{
    padding-top: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-content: space-around;
    
  }
   .loopImage{
    height: 350px;
    margin-left: 20px;
    margin-right: 40px;
   
    
  }
  .des{
    width: 400px;
    margin: auto;
  }


}
